token: "telegramtokenhere"
db: "mysql2://username:password@localhost/database"
blockexplorer: "http://explorer.cubicversecoin.org/tx/"
coinname: "CubicverseCoin"
coindaemon: "http://user:password@127.0.0.1:8332"
